{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h2 style="text-align: center;">Add New Product</h2>
    <label for="product_name">Enter the Product Name</label>
    <input type="text" id="product_name" name="name" required><br>
    <label for="product_desc">Enter the Product Description</label>
    <input type="text" id="product_desc" name="description" required><br>
    <label for="product_price">Enter the Product Price</label>
    <input type="text" id="product_price" name="price" required><br>
    <label for="product_stock">Quantity Available</label>
    <input type="text" id="product_stock" name="stock" required><br>
    <label for="product_sold">Quantity Sold</label>
    <input type="text" id="product_sold" name="sold" required><br>
    <br>
    <input type="submit" value="Save Product">
</form>
{% if user.is_superuser %}
    <a href="{% url 'addproduct' %}" class="btn" style="position: absolute;top: 20px;left: 20px; background-color: #5f35dc;">
        Add Product
    </a>
    <a href="{% url 'orderhistory' %}" class="btn" style="position: absolute;top: 20px;left: 150px; background-color: #5f35dc;">
        Order History
    </a>
    <a href="{% url 'product' %}" class="btn" style="position: absolute;top: 20px;left: 280px; background-color: #5f35dc;">
        Product Search
    </a>
    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
{% endif %}
{% endblock %}